.reusableButton {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  background-color: white;
  color: black;
  width: 33%;
  padding: 1.5em 1em;
  margin: auto;
  height: 4em;
  border: 1px solid slategray;
  outline: none;
  text-transform: uppercase;
}

.reusableButton:hover {
  background-color: #efca08;
  color: black;
  box-shadow: inset -.25em -.25em .5em #f08700;
}

.reusableButton:active {
  background-color: #f08700;
  box-shadow: inset 0 0 10px firebrick;
  outline: none;
}

.reusableButton:focus {
  outline: none;
}

.emptyButton {
  background: #111;
  color: #f08700;
  box-shadow: none;
}


