body {
  background-color: #112;
}

#main {
  margin: auto;
  max-width: 350px;
  background-color:rgb(26, 34, 43);
  color:antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
}

#dashboard {
  width: 300px;
  background-color: darkslategray;
  box-shadow: 0px 0px 25px 5px inset black;
  padding: 25px;
}

#buttons {
  margin-bottom: 1em;
}

#tracks {
  display: flex;
  flex-direction: row;
}

#tracksload {
  display: none;
}

#trackdescr {
  width: 50%;
  padding-left: .5em;
  border-left: 1px solid gold;
}

#tracklist {
  width: 70%;
}

#tracklist :nth-child(odd) {
  background-color: darkslategray;
}

#tracklist .active {
  color: azure;
  border-bottom: 1px solid gold;
}

#tracklist .inactive {
  color: gray;
}

#tracklist .number {
  font-weight: 700;
  background-color: rgb(245, 255, 240);
  color: black;
  margin-right: .5em;
  padding-left: .5em;
  width: 40%;
  align-self: center;
}

#tracklist .title {
  width: 80%;
  display: inline-block;
}